In [64]:
import pandas as pd

In [65]:
name = ['Messi','Ronaldo','Neymar','Hazard','De Bruyne']
kit_number = [10, 7, 10, 7, 17]
rating = [93, 93, 92, 91, 91]

In [66]:
type(name)

list

In [67]:
len(name)

5

In [68]:
print(name)
print(kit_number)
print(rating)

['Messi', 'Ronaldo', 'Neymar', 'Hazard', 'De Bruyne']
[10, 7, 10, 7, 17]
[93, 93, 92, 91, 91]

In [69]:
df = pd.DataFrame([name,kit_number,rating])
df

       0        1       2       3          4
0  Messi  Ronaldo  Neymar  Hazard  De Bruyne
1     10        7      10       7         17
2     93       93      92      91         91

# List to DataFrame

In [70]:
print(list(zip(name,kit_number,rating)))

[('Messi', 10, 93), ('Ronaldo', 7, 93), ('Neymar', 10, 92), ('Hazard', 7, 91), ('De Bruyne', 17, 91)]

In [71]:
df = pd.DataFrame(list(zip(name,kit_number,rating)),
                  columns=['Name','Kit_Number','Rating'])
df

        Name  Kit_Number  Rating
0      Messi          10      93
1    Ronaldo           7      93
2     Neymar          10      92
3     Hazard           7      91
4  De Bruyne          17      91

# Dictionary to DataFrame

In [72]:
df = pd.DataFrame({
    'Name':name,
    'Kit_Number':kit_number,
    'Rating':rating
})
df

        Name  Kit_Number  Rating
0      Messi          10      93
1    Ronaldo           7      93
2     Neymar          10      92
3     Hazard           7      91
4  De Bruyne          17      91

In [74]:
df.to_csv(r"raw\fifa20-rating.csv",
          sep=',',
          index=False)